



.textbox
  width: 300px
  overflow: hidden
  font-size: 20px
  padding: 8px 0
  margin: 8px auto
  border-bottom: 1px solid #4caf50

.textbox i
  width: 26px
  float: left
  text-align: center

.textbox input
  margin: 0 auto
  border: none
  outline: none
  background: none
  color: white
  font-size: 18px
  width: 80%
  float: left
  margin: 0 10px

