.wrapper
  border: 1px solid gray
  transition: all 1s
  width: 300px
  margin: 0 auto
  padding: 0
  position: relative
  
  
h2
  text-align: center
  padding: 0px
  // margin: 0
ul
  list-style-type: none
  margin: initial
  padding: initial
li
  border-bottom: 2px solid green
  padding: 10px
  display: flex
  align-items: center
  justify-content: space-between

span
  margin: 0 8px

.inputRadio
  width: 20px
  height: 20px
  &:checked ~ span

    color: yellow
    // background-color: yellow

.inputChoose
  float: right
  opacity: 0.2
  background-color: green
  border-radius: 100%
  width: 20px
  height: 20px
  cursor: pointer

.clearBtn
  position: absolute
  right: 10px
  background: rgba(0,0,0, .4)
  color: white
  border-radius: 4px
  cursor: pointer

.recipientDiv
  text-align: center
.recipientName
  font-size: 1.4rem
  color: yellow

.wrapperConfirmButtons
  display: flex
  justify-content: space-between
  & button:first-child
    width: 100px
    height: 30px
    background-color: rgba(255, 0, 0, 0.5)
    border-radius: 6px
    color: white
    font-size: 1.2rem
    transition: 1s ease
    &:hover
      width: 200px
  & button:last-child
    width: 100px
    height: 30px
    background-color: rgba(0, 255, 0, 0.5)
    border-radius: 6px
    color: white
    font-size: 1.2rem
    transition: 1s ease
    &:hover
      width: 200px