body, html
  margin: 0
  padding: 0
  font-family: sans-serif

  
  background: url(/images/bg.jpg) no-repeat 
  background-color: black
  background-position: center -20px
  // background-size: containt
  max-width: 992px
  min-width: 576px
  min-height: 100vh
  border: 1px solid
  margin: 0 auto

.App
  position: relative
  max-width: inherit
  min-width: inherit
  border: 1px solid pink
  margin: 0 auto